<p id="notice"><%= notice %></p>

<h1>Listing Gamegenres</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Difficulty</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamegenres.each do |gamegenre| %>
      <tr>
        <td><%= gamegenre.title %></td>
        <td><%= gamegenre.difficulty %></td>
        <td><%= gamegenre.description %></td>
        <td><%= link_to 'Show', gamegenre %></td>
        <td><%= link_to 'Edit', edit_gamegenre_path(gamegenre) %></td>
        <td><%= link_to 'Destroy', gamegenre_path(gamegenre), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Gamegenre', new_gamegenre_path %>
<br>
<br>
<br>
<h4> Search By Genre:</h4>
    <%= form_tag(gamegenres_path, :method => :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ("Search") %>
    <% end %>

    <% @gamegenres.each do |gamegenre| %>
        <ul>
            <li><%= link_to gamegenre.title, gamegenre_path(gamegenre) %></li><br>
        </ul>
    <% end %>
<br>



